.footer {
  margin-top: 80px;
  background-color: #ffffff;
  padding-top: 60px;
}

.wrapper-footer-link {
  font-size: 0;
  margin-bottom: 60px;
}

.footer-link-item {
  display: inline-block;
  font-size: 12px;
  box-sizing: border-box;
}

.footer-link-item:not(:last-child) {
  margin-right: 27px;
}

.footer-link-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 30px;
  max-width: 99px;
}

.border {
  border: 1px solid #efefef;
  width: 255px;
}

.wrapper-list {
  margin-top: 25px;
  line-height: 28px;
}

.wrapper-list a {
  color: #828282;
}

.wrapper-list a:hover {
  color: red;
}

.wrapper-about {
  padding-top: 37px;
}

.wrapper-about::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper-social-link {
  font-size: 0;
}

.social-item {
  display: inline-block;
  font-size: 1px;

  color: #ffffff;
}

.social-item img {
  background-color: #ffffff;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.phone-btn-footer {
  margin-top: 0;
  margin-bottom: 40px;
}

.rights-text {
  padding-top: 25px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
