body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

img {
  background-color: gray;
}

.float_left {
  float: left;
}
.float-right {
  float: right;
}

.top-footer {
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}

div.top-footer li {
  display: inline-block;
  margin: 17px 30px 16px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

ul li:last-child {
  margin-right: 0;
}

.banner {
  height: 604px;
  padding-top: 192px;
  color: #ffffff;
  background-image: url("../img/banner.png");
  background-position: 30%;
  background-size: cover;
}
.banner h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 56px;
}
.banner p {
  font-size: 14px;
  line-height: 20px;
  max-width: 308px;
  margin-bottom: 50px;
}
.banner-button {
  background-color: #f13c6e;
  border: 2px solid #ffffff;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.banner-button:hover {
  background-color: #ffffff;
  color: #f13c6e;
  font-weight: 700;
}

.title {
  margin-top: 80px;
  margin-bottom: 38px;
}

.wrapper-car {
  font-size: 0px;
}

.wrapper-car-item {
  padding: 25px 30px;
  font-size: 14px;
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  max-width: 255px;
  box-sizing: border-box;
}

.wrapper-car-item:not(:last-child) {
  margin-right: 30px;
}

.wrapper-car-text {
  margin: 20px 0px;
  line-height: 20px;
  font-weight: 500;
}
.wrapper-car-price {
  font-size: 1.313rem;
  margin-bottom: 20px;
}

.wrapper-car-button {
  width: 100%;
  max-width: 130px;
  height: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #f13c6e;
  border-radius: 30px;
  transition: 1s;
  color: #ffffff;
  cursor: pointer;
  /*border: none;*/
  border: 1px solid #f13c6e;
}
.wrapper-car-button:hover {
  border: 1px solid #f13c6e;
  background-color: #ffffff;
  color: #f13c6e;
}
