body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

img {
  background-color: gray;
}

.float_left {
  float: left;
}
.float-right {
  float: right;
}

.top-footer {
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}

div.top-footer a li {
  display: inline-block;
  margin: 17px 30px 16px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

ul li:last-child {
  margin-right: 0;
}

.logo-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo-img {
  background-color: white;
  padding-top: 20px;
}

.phone-btn-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.phone {
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 3%;
  color: #000000;
}

.logo-button {
  background-color: #ffffff;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  color: #000000;
  cursor: pointer;
  transition: 1s;
}

.logo-button:hover {
  background-color: #f13c6e;
  color: #ffffff;
  font-weight: 700;
}

.top-lower-footer {
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
}

div.top-lower-footer a li {
  display: inline-block;
  margin: 30px 40px 30px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.banner {
  height: 604px;
  padding-top: 192px;
  color: #ffffff;
  background-image: url("../img/banner.png");
  background-position: 30%;
  background-size: cover;
}
.banner h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 56px;
}
.banner p {
  font-size: 14px;
  line-height: 20px;
  max-width: 308px;
  margin-bottom: 50px;
}
.banner-button {
  background-color: #f13c6e;
  border: 2px solid #ffffff;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.banner-button:hover {
  background-color: #ffffff;
  color: #f13c6e;
  font-weight: 700;
}

.title {
  margin-top: 80px;
  margin-bottom: 38px;
}

.wrapper-car {
  font-size: 0px;
  margin-bottom: 100px;
}

.wrapper-car-item {
  padding: 25px 30px;
  font-size: 14px;
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  max-width: 255px;
  box-sizing: border-box;
}

.wrapper-car-item:not(:last-child) {
  margin-right: 30px;
}

.wrapper-car-text {
  margin: 20px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: #333333;
}
.wrapper-car-price {
  font-size: 1.313rem;
  margin-bottom: 20px;
}

.wrapper-car-button {
  width: 100%;
  max-width: 130px;
  height: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #f13c6e;
  border-radius: 30px;
  transition: 1s;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #f13c6e;
}
.wrapper-car-button:hover {
  border: 1px solid #f13c6e;
  background-color: #ffffff;
  color: #f13c6e;
}

.bonus-card-container {
  font-size: 0;
  margin-bottom: 100px;
}

.bonus-card {
  background-color: #f13c6e;
  color: #ffffff;
  width: 540px;
  height: 212px;
  display: inline-block;
  box-sizing: border-box;
}

.bonus-card:first-child {
  margin-right: 30px;
}

.bonus-card-wrapper {
  padding-top: 35px;
  padding-left: 40px;
}

.bonus-card img {
  background-color: #f13c6e;
  padding-top: 36px;
  padding-right: 45px;
}

.bonus-card img.car {
  background-color: #f13c6e;
  padding-top: 56px;
  padding-right: 45.33px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.bonus-card-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}

input {
  width: 225px;
  height: 35px;
  border-radius: 30px;
  border: 0;
  position: relative;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  position: absolute;
  top: 9px;
  left: 25px;
}

.impuls-container {
  font-size: 0;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.impuls-container a img {
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
}

.impuls-first-col {
  padding: 35px 68px 35px 60px;
  border-right: 0.5px solid #efefef;
}

.impuls-second-col {
  padding: 35px 67px 35px 61px;
  border-right: 0.5px solid #efefef;
}

.impuls-third-col {
  padding: 35px 64px 35px 63px;
  border-right: 0.5px solid #efefef;
}

.impuls-forth-col {
  padding: 35px 63px 35px 65px;
}

.second-row {
  border-top: 0.5px solid #efefef;
}

.wrapper-car.bottom {
  margin-bottom: 81px;
}
